raw_videos/
processed_videos/
intermediate_videos/
fun/
intermediate_videos.zip
processed_videos.zip
detected_faces/
archive/
intermediate_llm_videos/
raw_llm_videos/
processed_llm_videos/
KEYS.py
detected_faces_kaggle/
detected_faces_scrapped/